.enemy-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  z-index: 1;

  .enemy {
    text-align: center;
    animation: breathing 3s infinite ease-in-out;
    cursor: pointer;

    img {
      margin-bottom: clamp(20px, 3vw, 60px);
      width: clamp(120px, 25vw, 800px);
      height: auto;
      border-radius: 0;
      transition: filter 0.3s ease, transform 0.3s ease;
      user-drag: none;
      -webkit-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-select: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      font-size: clamp(1rem, 2vw, 1.5rem);
      margin-top: 0.5rem;
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
      height: 1.2rem;
    }

    &:hover {
      img {
        filter: brightness(1.2);
        transform: scale(1.05);
        cursor: none;
      }

      p {
        opacity: 1;
      }
    }
  }

  /* Opcional: reduce el gap en pantallas pequeñas */
  @media (max-width: 600px) {
    gap: 0.5rem;
  }
}